<%= form_for @movie, html: { multipart: true } do |f|%>
  <div class="form-group">
<%# this is for paperclip gem above %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 
  <%# <div class="field"> %>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>
  <div class="field">
    <%= f.label :movie_length %><br>
    <%= f.text_field :movie_length, class: "form-control", placeholder: "Movie Length" %>
  </div>
  <div class="field">
    <%= f.label :director %><br>
    <%= f.text_field :director, class: "form-control", placeholder: "Director" %>
  </div>
  <div class="field">
    <%= f.label :movie_rating %><br>
    <%= f.text_field :rating, class: "form-control", placeholder: "Rating" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%# #gives a movie a user_id so only the person who creates it can delete it %>
    <%= f.submit %>
    <%# will automatically give it a create or update button %>
  </div>
<% end %>