<%= form_for([@movie, @review]) do |f| %>
  <div class="form-group">
<%# ([@movie, @review]) for nested route %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <h3><%= f.label :rating%><br></h3>
    <%= f.number_field :rating, max: 5, min:1, class: "form-control" %>
   </div>
  
  <div class="field">
    <h3><%= f.label :comment %><br></h3>
    <%= f.text_area :comment, class: "form-control", placeholder: "Comment" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

