<h1> Listing all reviews (index page) </h1>
<table>
<thead>
<tr>
<th> Rating </th>
<th> Comment</th>
<th colspan="3"> </th>
</tr>
</thead>
<tbody>
  <% @reviews.each do |review| %>
  <tr>
  
  <%# <td><%= review.rating</td> %> 

  <%# <td><%= review.comment %> 
  <td><%= review.rating %></td>
  <%# <td><%= link_to "#{review.comment}", review_path(review) %>
  <%= link_to "#{review.comment}", movie_review_path(review.movie, review) %>
  <% end %>
  </tr>
  </tbody>
  </table>