<!DOCTYPE html>
<html>
  <head>
    <title>Movie Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <body>


<%= render 'layouts/header' %>
	<div class="container">
    <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-info") %>
    <%= msg %> 
 
<% end %>
  <%# <p class="notice"><%=notice 
  < /p > %>
  <%# <p class="alert"><%= alert %>
   <%# < /p > %> 
   <%# devise methods above  %>

 
    <%= yield %>
    </div>
  </body>
</html>
